#header {
  display: grid;
  grid-template-columns: 1fr 3fr 7fr;
  grid-template-rows: 1fr;
  position: fixed;
  background-color: #393f4d;
  z-index: 2;
  font-family: Arial;
}

#nav-bar {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 20px 20px 20px 0px;
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.nav-link {
  border-style: solid;
  border-width: 2px;
  border-color: #e1e8f0;
  border-radius: 10px;
  background-color: #e1e8f0;
  padding: 8px;
  margin: 5px;
  color: black;
}

a:hover {
  color: #e62739;
}

#header-img {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: left; 
}

body {
  background-color: #e1e8f0;
}

#main-grid {
  display: flex;
  flex-direction: row;
}

.grid-items {
  background-color: #d4d4dc;
}

#video {
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
  z-index: 1;
}

#Feedback {
  /*need to center this*/
}

/* Color Palette:
Are ya yellow?!: #feda6a

Silver Fox: #d4d4dc

Deep Matte Grey: #393f4d

Dark Slate: #1d1e22

Rich Red: #e62739 */
